<div id="<%= dom_id log %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= log.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Response:</strong>
    <%= log.response %>
  </p>

</div>
